<div class="dash-module"><!-- /module  heading -->
    <div class="module-heading module-bg-stable">
        <h3 class="module-title text-light text-uppercase">
            {{vm.headerLabel}}
        </h3>
        <div class="module-nav-widget">
            <a ng-click="vm.toggleModule()"><i class="fa fa-minus-square-o"></i></a>
        </div>

        <div class="clearfix"></div>
    </div>
    <div uib-collapse="vm.isCollapsed">
        <div class="mt-20" ng-show="vm.isEditable">
            <create-profile creation-type='vm.creationType' venue-id="vm.venueId" ctrl-fn="vm.ctrlFn({value: val})"></create-profile>
        </div>
        <div class="module-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Edit</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--obj in collection track by $id(obj) -->
                    <tr ng-repeat="user in vm.listData">
                        <td>{{$index + 1}}</td>
                        <td>
                            <a href="#" ng-click="vm.editData()">
                                <span class="fa fa-edit"></span>
                            </a>
                        </td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.email}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>