<!-- subnav here -->
<div class="navbar subnav" role="navigation">
    <div class="navbar-inner">
        <div class="container">
            <ul class="pager subnav-pager">
                <div class="btn-group-wrap">
                    <button type="button" class="btn btn-primary" ng-click="adminProfilesController.gotoAnchor('admin')">Admin</button>
                    <button type="button" class="btn btn-primary" ng-click="adminProfilesController.gotoAnchor('venueAdmin')">Venue Admin</button>
                    <button type="button" class="btn btn-primary" ng-click="adminProfilesController.gotoAnchor('staff')">Staff</button>
                    <button type="button" class="btn btn-primary" ng-click="adminProfilesController.gotoAnchor('patrons')">Patrons</button>
                </div>
            </ul>
        </div>
    </div>
</div>
<!-- //subnav -->
<div class="container">
    <back-top scroll-speed=600 button-theme="dark"><i class="fa fa-chevron-up"></i></back-top>
    <div class="container-fluid">
        <h1>Profiles</h1>
        <p>The following is a snapshot of our current user base.</p>
        <div id="admin" class="page-header">
            <h1>Super Admin</h1>
        </div>
        <create-profile creation-type='0'></create-profile>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <div id="admin_grid" ui-grid="{ data: adminProfilesController.adminData, enableSorting: true, columnDefs: adminProfilesController.adminColumnDef}" class="grid"></div>
                </div>
              </div>
        </div><!-- end admin -->
        <div id="venueAdmin" class="page-header">
            <h1>Venue Admins</h1>
        </div>
        <!--
        <create-profile creation-type='3'></create-profile>
        -->
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <div id="venue_owner_grid" ui-grid="{ data: adminProfilesController.venueAdmin, enableSorting: true, columnDefs: adminProfilesController.venueAdminColumnDef}" class="grid"></div>
                </div>
             </div>
        </div><!-- end venue owners -->
        <div id="staff" class="page-header">
            <h1>Staff</h1>
        </div>
        <!--
        <create-profile creation-type='2'></create-profile>
        -->
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <div id="staff_grid" ui-grid="{ data: adminProfilesController.staffData, enableSorting: true, columnDefs: adminProfilesController.venueStaffColumnDef}" class="grid"></div>
                </div>
            </div>
        </div><!-- end staff -->
        <div id="patrons" class="page-header">
            <h1>Patrons</h1>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <div id="patrons_grid" ui-grid="{ data: adminProfilesController.userData, enableSorting: true, columnDefs: adminProfilesController.patronsColumnDef }" class="grid"></div>
                </div>
            </div>
        </div><!-- end Patrons -->
    </div> <!-- end fluid-container -->
</div>