/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */

$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "../../bower_components/font-awesome/fonts";

$font-header: 'Cabin', 'Montserrat', Helvetica, Arial, sans-serif;
$font-body: 'Lato', 'Montserrat', Helvetica, Arial, sans-serif;
//
$light: #ffffff;
$stable :#dadada;
$dark: #737373;
$eggplant: #282f3c;
$grey: #999999;
$grey-hover: #555555;
$burgundy: #3B0102;


//
$body-background-color: #EFEFEF;
$input-border-color: #e6e6e6;
$text-color: #000000;
$navbar-inverse-link-color: #5AADBB;
$light-background-color: $light;
$mobile-breakpoint: 40.063em;
//

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
/***** General Styles *****/

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800');


body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  cursor:default;
  color: #333;
  font-size: 14px;
  line-height: 24px;
  background-color: #fff;
  font-weight: 400;
}

/*
/*-----------------------------------------------------------------------------------*/
/*	RESET
/*-----------------------------------------------------------------------------------*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:focus {
  outline: 0 !important
}

iframe {
  border: none;
  width:100%;
}
::selection {
  background: #fefac7; /* Safari */
  color: #CCC;
}
::-moz-selection {
  background: #fefac7; /* Firefox */
  color: #CCC;
}
strong,b{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
span.text-bg{
  padding: 0px 5px;
  background-color: #3b0102;
  color:#fff;
  line-height: 10px;
}
span.text-color{
  color:#3b0102;
}
label{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color:#777;
}
p.dropcap:first-letter{
  display: block;
  float: left;
  font-size: 50px;
  line-height: 51px;
  margin: -1px 8px -2px 0;
  color:#f99200;
  font-family: 'Open Sans', sans-serif;
}
input,
button,
select,
textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
a {
  color: #000;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  font-family: 'Open Sans', sans-serif;
}
a:hover,
a:focus {
  color: #3b0102;
  text-decoration: none;
}
.colored-text{
  color:#3b0102;
}
/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-weight: 600;
  margin: 0;
  font-family: $font-header;
}

h1 {
  font-size: 3.2em;
  line-height: 44px;
  margin: 0 0 44px 0;
}

h2 {
  font-size: 2.6em;
  font-weight: 600;
  line-height: 42px;
  margin: 0 0 32px 0;
}

h3 {
  font-size: 1.8em;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 24px;
  margin-bottom: 33px;
}
/*use in section headings*/
h3.heading{
  border-bottom: 1px solid #E5E5E5;
  color: #4e4e4e;
  font-size: 16px;
  margin: 0 0 25px;
  padding-bottom: 10px;
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
}
h3.heading:before {
  position: absolute;
  content: "";
  height: 1px;
  background: #3b0102;
  width: 90px;
  bottom: -1px;
  left: 0px;
}
h4 {
  font-size: 1.4em;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 27px;
  margin: 0 0 14px 0;
}

h5 {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 18px;
  margin: 0 0 14px 0;
}

h6 {
  color: #333;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 18px;
  margin: 0 0 14px 0;
}
/*parahraphs*/
p {
  color: #777777;
  line-height: 24px;
  margin: 0 0 20px;
}


@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

@mixin box-shadow($box-shadow) {
  box-shadow: $box-shadow;
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  -ms-box-shadow: $box-shadow;
  -o-box-shadow: $box-shadow;
}

@mixin transition($transition) {
  transition: $transition;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
}
/***** Mixins *****/

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

@mixin box-shadow($box-shadow) {
  box-shadow: $box-shadow;
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  -ms-box-shadow: $box-shadow;
  -o-box-shadow: $box-shadow;
}

@mixin transition($transition) {
  transition: $transition;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
}
/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector







