<div>
    <div class="modal-header">
        <h3 class="modal-title">Edit Row</h3>
    </div>
    <div class="modal-body">
        <form name="form">
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <label for="name">Cocktail Name</label>
                        <input type="text" placeholder="ex: Knife In The Water" name="name" id="name" class="form-control" ng-model="editCocktailModalController.product.name"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <label for="price">Price</label>
                        <input type="text" placeholder="0.00" name="cost" id="cost" class="form-control" ng-model="editCocktailModalController.product.cost"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="desc">Display Item:</label>
                        <div class="input-group">
                            <div class="btn-group" data-toggle="buttons">
                                <label ng-class="editCocktailModalController.product.active ? 'btn btn-default active' : 'btn btn-default'">
                                    <input ng-model="editCocktailModalController.product.active" ng-change="editCocktailModalController.onDisplayChange(true)" name="yes" id="yes" type="radio"> Yes
                                </label>
                                <label ng-class="editCocktailModalController.product.active ? 'btn btn-default' : 'btn btn-default active'">
                                    <input ng-model="editCocktailModalController.product.active" ng-change="editCocktailModalController.onDisplayChange(false)" name="no" id="no" type="radio"> No
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div>
                        <label for="desc">Description:</label>
                        <textarea type="text" placeholder="ex: Manzanilla, salers, aperitif, dolin blanc, peychauds" rows="2" name="desc" id="desc" class="form-control" ng-model="editCocktailModalController.product.desc"></textarea>
                    </div>
                </div>
                <div class="col-md-4">

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-danger" ng-click="editCocktailModalController.remove()">Delete</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="editCocktailModalController.save()">Save</button>
        <button class="btn btn-warning" ng-click="$close()">Cancel</button>
    </div>
</div>