<div class="page-wrapper container-fluid">
    <!-- stats row-->
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <so-widget-module icon-class="fa fa-eye text-default" number="50" module-label="Daily Visits"></so-widget-module>
        </div>
        <div class="col-lg-3 col-sm-6">
            <so-widget-module icon-class="fa fa-building text-primary" number="{{adminDashboardController.venueCount}}" module-label="Venues"></so-widget-module>
        </div>
        <div class="col-lg-3 col-sm-6">
            <so-widget-module icon-class="fa fa-tag text-info" number="1268" module-label="New Orders"></so-widget-module>
        </div>
        <div class="col-lg-3 col-sm-6">
            <so-widget-module icon-class="fa fa-users text-success" number="{{adminDashboardController.usersCount}}" module-label="Users"></so-widget-module>
        </div>
    </div> <!-- end row -->

    <div class="row">

        <div class="col-lg-6">
            <div class="dash-module"><!-- /module  heading -->
                <div class="module-heading module-bg-stable">
                    <h3 class="module-title text-light text-uppercase">
                        Last 10 <a ui-sref='admin.venues'>Venue</a> entries
                    </h3>
                    <div class="module-nav-widget">
                        <div class="divider"></div>
                        <a ng-click="adminDashboardController.toggleModule('venue')"><i class="fa fa-minus-square-o"></i></a>
                        <div class="divider"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div uib-collapse="adminDashboardController.isVenueModCollapsed">
                    <div class="module-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Edit</th>
                                    <th>Venue Name</th>
                                    <th>Venue ID</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in adminDashboardController.lastTenEntries">
                                    <td>{{$index + 1}}</td>
                                    <td>
                                        <a href="#" ng-click="adminDashboardController.editVenue(item.key)">
                                            <span class="fa fa-edit"></span>
                                        </a>
                                    </td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.key}}</td>
                                    <td class="text-align-center">
                                    <span ng-class="item.active == 1  ? ' text-success' : 'text-danger'">
                                    <i ng-class="item.active == 1 ? ' fa fa-check' : 'fa fa-warning'"></i>
                                    </span>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end col -->

        <div class="col-lg-6">
            <div class="dash-module"><!-- /module heading -->
                <div class="module-heading module-bg-stable">
                    <h3 class="module-title text-light text-uppercase">
                        Last registered <a ui-sref='admin.profiles'>Users</a>
                    </h3>
                    <div class="module-nav-widget">
                        <div class="divider"></div>
                        <a ng-click="adminDashboardController.toggleModule('users')"><i class="fa fa-minus-square-o"></i></a>
                        <div class="divider"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div uib-collapse="adminDashboardController.isUserModCollapsed">
                    <div class="module-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Username</th>
                                    <th>Role</th>
                                    <th>User Id</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in adminDashboardController.lastUserRegistrations">
                                    <td class="text-center">{{$index}}</td>
                                    <td>{{item.firstName}} {{item.lastName}}</td>
                                    <td>{{item.role}}</td>
                                    <td>{{item.uid}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end col -->
        </div> <!-- end col -->
    </div> <!-- end row -->
</div>
<footer class="page-footer text-align-center">
    2016 © Social Order.
</footer>
<back-top scroll-speed=600 button-theme="dark"><i class="fa fa-chevron-up"></i></back-top>
