<div class="page-wrapper container-fluid">
    <div class="page-title">
        <h1>{{venueDetailController.venue.name}}</h1>
    </div>
        <div class="detail-module mt-20"><!-- /module heading -->
            <div class="detail-heading module-bg-eggplant">
                <h3 class="detail-title text-light text-uppercase">
                    Venue Details
                </h3>
                <div class="detail-nav-widget" ng-show="venueDetailController.isAdmin">
                    <div class="divider"></div>
                    <a ng-click="venueDetailController.deleteVenue()"><i class="text-light fa fa-times"></i></a>
                    <div class="divider"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <form id="venueForm" ng-submit="venueDetailController.saveData()" role="form">
                <div class="form-group mt-20" ng-show="venueDetailController.isAdmin">
                    <div class="row">
                        <div class="col-md-2">
                            <label class="control-label">Venue Active :</label>
                            <select class="form-control" ng-model="venueDetailController.venue.active" ng-options="activeOption.val as activeOption.label for activeOption  in venueDetailController.activeOptions"></select>
                        </div>
                        <div class="col-md-10">

                            <div class="pt-25 text-align-left">
                                <button ng-show="!venueDetailController.menuActive" class="btn btn-primary" ng-click="venueDetailController.addMenu()"> <span class="glyphicon glyphicon-plus"></span> ADD MENU</button>
                                <button ng-show="venueDetailController.menuActive" class="btn btn-primary" ng-click="venueDetailController.editMenu()"> <span class="glyphicon glyphicon-pencil"></span> EDIT MENU</button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-group mt-20" show="venueDetailController.isAdmin">
                    <div class="row">
                        <div class="col-md-2">
                            <label class="control-label">Venue Type: </label>
                            <select class="form-control" ng-model="venueDetailController.venue.type" ng-options="typeOption.val as typeOption.label for typeOption  in venueDetailController.typeOptions"></select>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error': form.venue_name.$dirty && form.venue_name.$error.required }">
                    <div class="row">
                        <div class="col-md-8">
                            <label class="control-label">Venue Name</label>
                            <input type="text"  name="venue_name" id="venue_name" class="form-control" ng-model="venueDetailController.venue.name" />
                            <span ng-show="form.venue_name.$dirty && form.venue_name.$error.required" class="help-block">Venue name is required</span>
                        </div>

                        <div class="col-md-4 selectContainer">
                            <label class="control-label">Phone #</label>
                            <input type="text" class="form-control" name="phone" ng-model="venueDetailController.venue.venue_phone"/>
                        </div>
                    </div>
               </div>

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">
                            <label class="control-label">City</label>
                            <input type="text" class="form-control" name="city" ng-model="venueDetailController.venue.city"/>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">State</label>
                            <select class="form-control" name="type" ng-model="venueDetailController.venue.state" >
                                <option value="">Please select a state</option>
                                <option ng-repeat='state in venueDetailController.states'>{{state.name}}</option>
                            </select>

                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Zipcode</label>
                            <input type="text" class="form-control" name="zipcode" ng-model="venueDetailController.venue.zipcode"/>


                        </div>

                    </div>
                </div>

                <div class="detail-heading module-bg-divider">
                    <h3 class="detail-title text-dark text-uppercase">
                        Primary Contact Information
                    </h3>
                    <div class="clearfix"></div>
                </div>

                <div class="form-group mt-20">
                    <div class="row">

                        <div class="col-md-4">
                            <label class="control-label">Contact Email</label>
                            <input type="text" class="form-control" name="contact_email" ng-model="venueDetailController.venue.contact_email"/>

                        </div>

                        <div class="col-md-4">
                            <label class="control-label">Phone #</label>
                            <input type="text" class="form-control" name="phone" ng-model="venueDetailController.venue.contact_phone"/>

                        </div>
                    </div>
                </div>

                <div class="detail-heading module-bg-eggplant">
                    <h3 class="detail-title text-light text-uppercase">
                        Venue Profile
                    </h3>
                    <div class="clearfix"></div>
                </div>

                <div class="form-group mt-20">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label">Venue Pic</label>
                            <div class="overflow-hidden">
                                    <div class="module-profile-img-upload" ng-if="!venueDetailController.venuePic" ng-style="{'background-image': 'url({{venueDetailController.venuePic}})'}" ngf-select="venueDetailController.uploadFiles($files, $event)" ng-accept="'image/*'" capture="camera">
                                        <div class="mod-black-mask">
                                            <p class="module-upload-text"><i class="fa fa-camera"></i><br>Upload </p>
                                        </div>
                                    </div>

                                    <div class="module-profile-box-image" ng-if="venueDetailController.venuePic" ng-style="{'background-image': 'url({{venueDetailController.venuePic}})'}" ngf-select="venueDetailController.uploadFiles($files, $event)" ng-accept="'image/*'" capture="camera">
                                        <div class="module-profile-box-name-bar">
                                            <div class="module-profile-box-name">
                                                <span><strong>{{venueDetailController.venue.name}}</strong></span>
                                                <p><i class="fa fa-map-marker"></i>  {{venueDetailController.venue.address}}, {{venueDetailController.venue.city}} {{venueDetailController.venue.zipcode}}</p>

                                            </div>
                                        </div>
                                    </div>

                             </div>
                            <uib-progressbar ng-show="venueDetailController.uploadingImage" class="progress-striped active" value="venueDetailController.progress" type="info"><i>{{venueDetailController.progress}} / 100%</i></uib-progressbar>
                        </div>

                        <div class="col-md-6">
                            <label class="control-label">Venue Description</label>
                            <textarea class="form-control" name="review" rows="4" ng-model="venueDetailController.venue.desc"></textarea>

                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">
                            <label class="control-label">Website:</label>
                            <input type="text" class="form-control" name="website" ng-model="venueDetailController.venue.website_url"/>

                        </div>

                        <div class="col-md-4">

                            <label class="control-label">Facebook</label>
                            <input type="text" class="form-control" name="facebook" ng-model="venueDetailController.venue.facebook_url"/>

                        </div>
                        <div class="col-md-4">

                            <label class="control-label">Twitter</label>
                            <input type="text" class="form-control" name="twitter" ng-model="venueDetailController.venue.twitter_url"/>

                        </div>
                    </div>
                </div>

                <div class="detail-heading module-bg-divider">
                    <h3 class="detail-title text-dark text-uppercase">
                        Geo Location
                    </h3>
                    <div class="clearfix"></div>
                </div>

                <div class="form-group mt-20">
                    <div class="row">

                        <div class="col-md-4">
                            <label class="control-label">Auto-Complete PlaceID</label>
                            <input class="form-control" placeholder="Enter venues address" force-selection="true" g-places-autocomplete  ng-change="venueDetailController.displayPlace()" ng-model="venueDetailController.place"/>

                        </div>

                        <div class="col-md-4">
                            <label class="control-label">Place Id</label>
                            <input type="text" class="form-control" name="placeId" ng-model="venueDetailController.venue.placeId"/>
                        </div>
                        <!--
                        <div class="col-md-4">
                            <label class="control-label">Lat & Lng</label>
                            <pre>{{venueDetailController.result | json}}</pre>
                        </div>
                        -->
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">
                            <label class="control-label">Latitude</label>
                            <input type="text" class="form-control" name="lat" ng-model="venueDetailController.venue.lat"/>

                        </div>

                        <div class="col-md-4">
                            <label class="control-label">Longitude</label>
                            <input type="text" class="form-control" name="lng" ng-model="venueDetailController.venue.lng"/>

                        </div>

                    </div>
                </div>

                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-12 text-align-center">
                            <button type="submit" ng-disabled="form.$invalid || venueDetailController.dataLoading" class="btn btn-primary pull-right">{{venueDetailController.submitType}}</button>
                            <img ng-if="login.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        </div>
                    </div>
                </div>

             </form>

        <div class="mt-20" ng-show="venueDetailController.isAdmin">
            <div class="row">

                <div class="col-lg-6">
                    <so-email-module header-label="Venue Admins" is-editable="true" creation-type="3" list-data="venueDetailController.venueAdmin" venue-id="venueDetailController.venue.key" ctrl-fn="venueDetailController.updateGrid(value)"></so-email-module>
                </div>

                <div class="col-lg-6">
                    <so-email-module header-label="Staff" is-editable="true" creation-type="2" list-data="venueDetailController.venueStaff" venue-id="venueDetailController.venue.key" ctrl-fn="venueDetailController.updateGrid(value)"></so-email-module>
                </div>
            </div>
        </div>
     </div>



</div>

<footer class="page-footer text-align-center">
    2016 © Social Order.
</footer>
<back-top scroll-speed=600 button-theme="dark"><i class="fa fa-chevron-up"></i></back-top>
<!--

<div class="form-group">
      <div class="row">

          <div class="col-md-4">

          </div>

          <div class="col-md-4">

          </div>
      </div>
</div>

<sub-nav show="venueDetailController.isAdmin" buttons="venueDetailController.subNavButtons" ctrl-fn="venueDetailController.gotoAnchor(value)"></sub-nav>
<div class="container">
   <section>

        <div class="jumbotron" ng-show="!venueDetailController.isAdmin">
            <h1>Marketing stuff!</h1>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
            <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
        </div>

   </section>

   <section id="venue">
   <button ng-show="venueDetailController.deleteEnabled" class="btn btn-danger pull-right" ng-click="venueDetailController.deleteVenue()">Delete</button>
        <div class="page-header">
            <h1>Venue Details</h1>
        </div>

        <form id="venueForm" ng-submit="venueDetailController.saveData()" role="form">
        <div class="page-header">
            <h1><small>Location</small></h1>
        </div>

         <div class="form-group" show="venueDetailController.isAdmin">
            <div class="row">
                <div class="col-xs-4">
                    <label class="control-label">Venue Active :</label>
                    <select class="form-control" ng-model="venueDetailController.venue.active" ng-options="activeOption.val as activeOption.label for activeOption  in venueDetailController.activeOptions"></select>
                </div>
                <div class="col-xs-8">
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.venue_name.$dirty && form.venue_name.$error.required }">
                <div class="row">
                    <div class="col-xs-8">
                        <label class="control-label">Venue Name</label>
                        <input type="text"  name="venue_name" id="venue_name" class="form-control" ng-model="venueDetailController.venue.name" />
                        <span ng-show="form.venue_name.$dirty && form.venue_name.$error.required" class="help-block">Venue name is required</span>
                    </div>

                    <div class="col-xs-4 selectContainer">
                        <label class="control-label">Venue Type: </label>
                      <select class="form-control" ng-model="venueDetailController.venue.type" ng-options="typeOption.val as typeOption.label for typeOption  in venueDetailController.typeOptions"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-8">
                        <label class="control-label">Address</label>
                        <input type="text" class="form-control" name="venue_addres" ng-model="venueDetailController.venue.address"/>
                    </div>
                    <div class="col-xs-4">
                        <label class="control-label">City</label>
                        <input type="text" class="form-control" name="city" ng-model="venueDetailController.venue.city"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-8">
                        <label class="control-label">State</label>
                        <select class="form-control" name="type" ng-model="venueDetailController.venue.state" >
                        <option value="">Please select a state</option>
                        <option ng-repeat='state in venueDetailController.states'>{{state.name}}</option>
                        </select>
                    </div>
                    <div class="col-xs-4">
                        <label class="control-label">Zipcode</label>
                        <input type="text" class="form-control" name="zipcode" ng-model="venueDetailController.venue.zipcode"/>
                    </div>
                </div>
            </div>
            <div class="page-header">
                <h1><small>Primary Contact</small></h1>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-8">
                        <label class="control-label">Contact Email</label>
                        <input type="text" class="form-control" name="contact_email" ng-model="venueDetailController.venue.contact_email"/>
                    </div>

                    <div class="col-xs-4">
                        <label class="control-label">Phone #</label>
                        <input type="text" class="form-control" name="phone" ng-model="venueDetailController.venue.contact_phone"/>
                    </div>
                </div>
            </div>
            <div class="page-header">
                <h1><small>Social</small></h1>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6">
                        <label class="control-label">WWW:</label>
                        <input type="text" class="form-control" name="website" ng-model="venueDetailController.venue.website_url"/>
                    </div>
                    <div class="col-xs-6">
                        <label class="control-label">Facebook</label>
                        <input type="text" class="form-control" name="facebook" ng-model="venueDetailController.venue.facebook_url"/>
                    </div>
                </div>
            </div>
            <div class="page-header">
                <h1><small>Geo Location</small></h1>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6">
                        <label class="control-label">Auto-Complete PlaceID</label>

                            <input class="form-control" placeholder="Enter venues address" force-selection="true" g-places-autocomplete  ng-change="venueDetailController.displayPlace()" ng-model="venueDetailController.place"/>
                    </div>
                    <div class="col-xs-6">
                        <label class="control-label">Place Id</label>
                        <input type="text" class="form-control" name="placeId" ng-model="venueDetailController.venue.placeId"/>
                    </div>
                </div>
            </div>
        <div class="form-group" ng-show="venueDetailController.result">
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label">Lat & Lng</label>
                    <pre>{{venueDetailController.result | json}}</pre>
                </div>
            </div>
        </div>
            <div class="form-group">
                <div class="row">

                    <div class="col-xs-6">
                        <label class="control-label">Latitude</label>
                        <input type="text" class="form-control" name="lat" ng-model="venueDetailController.venue.lat"/>
                    </div>
                    <div class="col-xs-6">
                        <label class="control-label">Longitude</label>
                        <input type="text" class="form-control" name="lng" ng-model="venueDetailController.venue.lng"/>
                    </div>
                </div>
            </div>

            <div class="page-header">
                <h1><small>Profile</small></h1>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                    <label class="control-label">Venue Description</label>
                    <textarea class="form-control" name="review" rows="4" ng-model="venueDetailController.venue.desc"></textarea>
                    </div>
                 </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-xs-12 center-block">
                        <button type="submit" ng-disabled="form.$invalid || venueDetailController.dataLoading" class="btn btn-primary pull-right">{{venueDetailController.submitType}}</button>
                        <img ng-if="login.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div>
                </div>
            </div>
        </form>

   </section>

   <section>
       <div class="page-header">
           <h1>Venue Profile Image</h1>
       </div>
       <div class="row">
               <div class="panel panel-default">
                   <div class="panel-heading"><strong>Upload File</strong> <small>Dimensions 200x150</small></div>
                   <div class="panel-body">


                       <h4>Select files from your computer</h4>
                       <div class="form-inline">
                           <div class="form-group">
                               <input type="file" name="files" ngf-select ng-model="venueDetailController.file"
                                      accept="image/*" ngf-max-size="1MB">
                           </div>
                           <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit" ng-click="venueDetailController.uploadFiles()">Upload file</button>
                       </div>
                       <div class="thumbnail mt-25" ng-show="venueDetailController.venuePic">
                           <img class="img-responsive" ng-src="{{venueDetailController.venuePic}}" width="200" alt="venue image">
                       </div>

                       <h4>Or drag and drop files below</h4>
                       <div class="upload-drop-zone" id="drop-zone" ngf-drop  ng-model="venueDetailController.file"
                            ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="true"
                            accept="image/*" ngf-max-size="1MB">
                           Just drag and drop files here
                       </div>


                       <div class="progress">

                           <div class="progress-bar" role="progressbar" aria-valuenow="venueDetailController.progress" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                               <span class="sr-only">{{venueDetailController.status}}</span>
                           </div>
                       </div>

                       <uib-progressbar ng-show="venueDetailController.uploadingImage" class="progress-striped active" value="venueDetailController.progress" type="info"><i>{{venueDetailController.progress}} / 100%</i></uib-progressbar>

                       <div class="js-upload-finished" ng-show="venueDetailController.uploadAlerts.length >0">
                           <h3>Processed files</h3>
                           <div class="list-group">
                               <uib-alert ng-repeat="alert in venueDetailController.uploadAlerts" type="{{alert.type}}" close="venueDetailController.closeAlert($index)" dismiss-on-timeout="3000">{{alert.msg}}</uib-alert>
                           </div>
                       </div>
                   </div>
               </div>
           </div>

   </section>

   <section id="admin" ng-show="venueDetailController.isAdmin">

            <div class="page-header">
                <h1>Venue Admins</h1>
            </div>

            <create-profile creation-type='3' venue-id="venueDetailController.venue.key" ctrl-fn="venueDetailController.updateGrid(value)"></create-profile>

            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <div id="venue_owner_grid" ui-grid="{ data: venueDetailController.venueAdmin, columnDefs: venueDetailController.venueAdminColumnDef}" class="grid"></div>
                    </div>
                </div>
            </div>

   </section>
   <section id="staff" ng-show="venueDetailController.isAdmin">

        <div class="page-header">
            <h1>Venue Staff</h1>
        </div>

        <create-profile creation-type='2' venue-id="venueDetailController.venue.key" ctrl-fn="venueDetailController.updateGrid(value)"></create-profile>

        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <div id="venue_staff_grid" ui-grid="{ data: venueDetailController.venueStaff, columnDefs: venueDetailController.venueStaffColumnDef}" class="grid"></div>
                </div>
            </div>
        </div>

   </section>
   <section id="menu" ng-show="venueDetailController.isAdmin">

        <div class="page-header">
            <h1>Menu</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button ng-show="!venueDetailController.menuActive" class="btn btn-primary" ng-click="venueDetailController.addMenu()"> <span class="glyphicon glyphicon-plus"></span> ADD</button>
                <button ng-show="venueDetailController.menuActive" class="btn btn-primary" ng-click="venueDetailController.editMenu()"> <span class="glyphicon glyphicon-pencil"></span> EDIT</button>
            </div>
        </div>
   </section>

</div>

<back-top scroll-speed=600 button-theme="dark"><i class="fa fa-chevron-up"></i></back-top>
-->