.one-page-static-wrap{
  background: url(../assets/images/showcase-2.jpg);
}
.one-page-static-wrap .static-text h1{
  text-align: center;
  padding: 250px 0;
  color:#fff;
  margin: 0;
  font-weight: 800;
  line-height: 60px;
  text-transform: uppercase;
}
@media(max-width:767px){
  .one-page-static-wrap .static-text h1{
    padding: 150px 0;
  }
}

/*************parallax*************/
.parallax {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;

}
/******************services****************/
/*service box*/
.service-box h4 i{
  margin-right: 10px;
  color:#3b0102;
  font-size: 27px;
}
/*progress rounded*/
.process-rounded{
  background: url(../img/showcase-2.jpg);
  padding: 50px 0;
}
.process-rounded h3{
  color:#fff;
  margin-bottom: 50px;
}
.process-box{
  text-align: center;
}
.process-box i{
  width:90px;
  height: 90px;
  line-height: 90px;
  font-size: 54px;
  color:#f99200;
  margin-bottom: 20px;
  border: 2px solid #f99200;
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.process-box:hover i{
  color:#fff;
  background-color: #f99200;
}
.process-box h4{
  color:#fff;
  margin-bottom: 0px;
}
/************************************************* css for footers****************************************/


/*************soical icons**********/
.social-1{
  margin: 0;
  padding: 0;
}
.social-1 li{
  padding-left: 1px;
  padding-right: 1px;
}
.social-1 li a i{
  width:32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color:#fff;
  font-size: 16px;

  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.social-1 li a i:hover{
  opacity: 0.8;
}
.social-1 li a i.fa-facebook{
  background-color: #3b5998;
}
.social-1 li a i.fa-twitter{
  background-color: #0084b4;
}
.social-1 li a i.fa-google-plus{
  background-color: #C63D2D;
}
.social-1 li a i.fa-pinterest{
  background-color: #cb2027;
}
.social-1 li a i.fa-dribbble{
  background-color: #ea4c89;
}

/****fun facts*****/
.fun-fact-wrap{
  background: url(../img/showcase-1.jpg);
  padding-top:50px;
  padding-bottom: 30px;
}
.facts-in{
  text-align: center;
  margin-bottom: 35px;
}
.facts-in h3{
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: 400;
  color:#000;
}
.facts-in h3 i{
  font-size: 40px;
  margin-right: 20px;
  color:#f99200;
}
.facts-in h4{
  margin-bottom: 0px;
}

/******owl carousel*******/
.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  /* border-radius: 20px; */
  background: #f99200 !important;
}

/*contact us*/
#contact-text{
  background: url(../assets/images/showcase-4.jpg);
}
#contact-text h1{
  font-weight: 300;
  color:#fff;
  margin: 0px;
}
/*gmap*/
#map-canvas{
  width:100%;
  height: 300px;
}

/**************blogs********************/
#news{
  background-color: #f5f5f5;
}
.post-wrap{
}
.post-desc{
  padding: 15px 0;
}
.post-desc p{
  margin: 10px 0;
}

/****************************footer************************/
#footer{
  background-color: #333;
  padding: 35px 0 40px;
  color: #969696;
  border-top: 4px solid #777;
}
.footer-col h3.heading{
  color:#fff;
  font-size: 16px;
  text-transform: capitalize;
  color:#fff;
  border-bottom-color: #666;
  margin-bottom: 20px;
}
.address-info{
  font-family: 'Open Sans', sans-serif;
}
.address-info li{
  padding: 3px 0;
  color:#969696;
}
.address-info li i{
  color:#3b0102;
  margin-right: 5px;
}
.address-info li a{
  color:#969696;
}
.address-info li a:hover{
  color:#3b0102;
}
.popular-post li{
  padding-bottom: 20px;
}
.popular-img{
  float: left;
  margin-right: 10px;

}
.popular-img a img{
  width:50px;
  height: 50px;
}
.popular-desc{
  display: table;
}
.popular-desc h5{
  font-size: 17px;

}
.popular-desc h5 a{
  color:#666;
}
.popular-desc h5 a:hover{
  color:#3b0102;
}
.popular-desc h6{
  color:#777;
}
.newsletter-form .form-control{
  height: 38px;
}
.footer-work a img{
  opacity: 0.6;
  width:60px;
  height: 50px;
  display: inline-block;
  margin: 3px;
}
.footer-work a img:hover{
  opacity: 1;
}
.footer-btm{
  padding: 30px 20px;
  border-top: 1px solid #444;
  text-align: center;
}

/*********************pricing tables****************/
.naran-pricing{
  border: 1px solid #e9e9e9;
  text-align: center;
}
.narani-price-title{
  border-bottom: 1px solid #e9e9e9;
  padding: 15px 0;
  background: #f9f9f9;
  position: relative;
}
.narani-price-title h3{
  margin: 0px;
  font-size: 18px;
  text-transform: uppercase;
  color:#000;
}
.narani-price-title h2{
  font-size: 38px;
}
.narani-price-title sup{
  color:#777;
  font-size: 16px;
  top: -20px;
}
.narani-price-title sub{
  color:#777;
  font-size: 16px;
}
.narani-price-content{
  padding: 20px 0;
}
.narani-price-content p{
  margin: 0px;
  padding: 10px 0;
  border-bottom: 1px solid #e9e9e9
}
.naran-pricing-btn{
  padding-bottom: 20px;
}
span.popular-tag{
  position: absolute;
  right: 0;
  top: 0;
  padding: 1px 6px;
  color:#fff;
  background-color: #3b0102;
  font-size: 10px;
}
.narani-price-title.popular-title{
  background-color: #333;
}
.narani-price-title.popular-title h2{
  color: #fff;
}
.narani-price-title.popular-title h3{
  color: #fff;
}


/************team****************/
.default-wrap{
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
.img {
  background: #f2f2f2;
  display: block;
  line-height: 0;
  margin: 0;
}
.description{
  background: #f2f2f2;
  border-top-width: 1px;
  color: #505050;
  display: table;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  width: 100%;
  padding: 10px 0;
}
.description h4{
  margin: 0px;
}
.description span{
  font-size: 11px;
}
.hover-desc{
  position: absolute;
  width:100%;
  height: 100%;
  top: 0;
  left: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: rgba(249, 146, 0, 0.95);
  padding: 20px;
  color:#fff;
}
.hover-desc h4{
  color:#fff;
}
.hover-desc p{
  color:#f5f5f5;
}
.default-wrap:hover .hover-desc{
  opacity: 1;
}



/*************************one page *****************/



.padding-80{
  padding: 80px 0;
}
.center-header{
  text-align: center;
  margin-bottom: 40px;
}
.center-heading{
  font-weight: 300;
  font-size: 44px;
  line-height: 44px;
  text-align: center;
  margin-bottom: 5px;
  text-transform: uppercase;
  color:#444;

}
.center-header p{
  font-weight: 300;
  font-size: 16px;
}
span.center-line{
  display: inline-block;
  width:60px;
  height: 1px;
  background-color: #3b0102;
  text-align: center;
}
/****progress bars****/
h3.heading-progress {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 0px;
}
.progress {
  height: 15px;
  line-height: 10px;
  box-shadow: none;
  -webkit-box-shadow: none;
  background: #E9E9E9;
  border-radius: 7px;
}
.progress-bar {
  line-height: 10px;
  background: #f99200;
  box-shadow: none;
  -webkit-box-shadow: none;
}